:root {
    --ui-pos-x: 92%;
    --ui-pos-y: 39%;
    --ui-scale: 1.0;
}

body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: Calibri, "Segoe UI", Arial, sans-serif;
    user-select: none;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 0.5vw;
    text-shadow: -0.5px -0.5px 0 #000000, 0px -0.5px 0 #000000, 0.5px -0.5px 0 #000000, 0.5px 0px 0 #000000, 0.5px 0.5px 0 #000000, 0px 0.5px 0 #000000, -0.5px 0.5px 0 #000000, -0.5px 0px 0 #000000;
}

#ui-container {
    position: absolute;
    left: var(--ui-pos-x);
    top: var(--ui-pos-y);
    transform: translate(-50%, -50%) scale(var(--ui-scale));
    transform-origin: center center;
    width: 15vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#current-category-container {
    flex-shrink: 0;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    position: relative;
    text-align: center;
}

#current-category-name {
    font-weight: bold;
}

#category-hint-right {
    position: absolute;
    right: 0.3vw;
    top: 50%;
    transform: translateY(-50%);
    font-weight: normal;
}

#category-hint-left {
    position: absolute;
    left: 0.3vw;
    top: 50%;
    transform: translateY(-50%);
    font-weight: normal;
}

#data-list {
    list-style: none;
    margin: 0;
    padding: 0.7vh 0.7vw;
    overflow-y: auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    row-gap: 0.6vh;
    column-gap: 1vw;
    position: relative;
}
    #data-list::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        background-color: rgba(255, 255, 255, 0.5);
        pointer-events: none;
    }

    #data-list::-webkit-scrollbar {
        width: 2px;
    }

    #data-list::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 2px;
    }

    #data-list::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 2px;
    }

.data-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0;
}

.data-name {
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-value {
    color: #FFFFFF;
}
