---
AccessModifierOffset: -4
BasedOnStyle: LLVM
BreakBeforeBraces: Attach
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterNamespace: true
  BeforeElse: true
ColumnLimit: 0
IndentWidth: '4'
NamespaceIndentation: All
TabWidth: '4'
UseTab: Never
PointerAlignment: Left
IndentAccessModifiers: false
EmptyLineBeforeAccessModifier: Always


...
